<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id='main_wrapper'>
        <table>
            <tr>
                <td><span>Name:</span></td>
                <td><%= @product.name %></td>
            </tr>
            <tr>
                <td><span>Description:</span></td>
                <td><%= @product.description %></td>
            </tr>
            <tr>
                <td><span>Price:</span></td>
                <td><%= @product.price %></td>
            </tr>
        </table>
        <a href='/products'>Back</a>   |
        <a href='/products/<%= @product.id %>/edit'>Edit</a>

        <form method='post' action='/comments/<%= @product.id %>/create'>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type='text' name='comment'>
            <input type='submit' value='comment'>
        </form>


        <% @comments.each do |c| %>
            <p><%= c.comment %></p>
        <% end %>

    </div>
</body>


</html>
